<mat-toolbar class="header-toolbar">
    <div class="header-right">
        <div class="user-profile">
            <div class="user-avatar">
                <img src="/assets/images/user.png" alt="User Avatar">
            </div>
            <div class="user-info">
                <span class="username">{{ getUserName() }}</span>
            </div>
            <button mat-icon-button class="dropdown-button" aria-label="User menu" [matMenuTriggerFor]="menu">
                <mat-icon>expand_more</mat-icon>
            </button>
        </div>
    </div>
</mat-toolbar>
<mat-menu #menu="matMenu" class="user-menu">
    <div class="menu-header">
        <div class="menu-user-avatar">
            <img src="/assets/images/user.png" alt="User Avatar">
        </div>
        <div class="menu-user-info">
            <span class="menu-username">{{ getUserName() }}</span>
        </div>
    </div>

    <button mat-menu-item class="menu-item" (click)="lockSession()">
        <mat-icon class="menu-icon">lock_clock</mat-icon>
        <span class="menu-text">Lock Session</span>
    </button>

    <button mat-menu-item class="menu-item danger" (click)="logout()">
        <mat-icon class="menu-icon">logout</mat-icon>
        <span class="menu-text">Sign Out</span>
    </button>
</mat-menu>