:host {
  display: block;
  width: 100%;
  height: 100vh;
  background-color: yellow;
}

.container {
  display: flex;
  justify-content: end;
  background-image: url('/assets/images/main.jpg');
  background-size: contain;
}
